@font-face {
    font-family: 'MeriendaOne';
    src: url('fonts/MeriendaOne-Regular.ttf') format("truetype");
}

body {
	text-align: center

}

h1{
	font-family: 'MeriendaOne';
	font-size: 60px;
	margin: 0;
	padding: 0;
}

.title{
position: absolute;
top:5px;
left:250px;
}

.info{
position: absolute;
	font-family: Verdana, Geneva, sans-serif;
}
.divider{
position: absolute;
	color: #ff7b00;
    font-size: 100px;
    margin: 0;
	padding: 0;
	left:25%;
	
}

#divider1{
	top:12px;	
	z-index: -1;
}

#divider2{
	top:270px;
	z-index: -1;
}